<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统后台管理</title>
</head>

<body>
<div class="showing">
    <div th:replace="include::includeHead"></div>
</div>
<form action="list" method="post">
    <br/>
    序号：<input type="text" name="name" style="width: 120px;"/>
    问题：<input type="text" name="telephone" style="width: 120px;"/>
    地址：<input type="text" name="address" style="width: 120px;"/>
    状态：<select id="indexStatus" onchange="changeStatus()">
    <option value="-1" selected="selected">全部</option>
    <option value="1">启用</option>
    <option value="0">停用</option>
</select>
    <input type="hidden" name="status" id="status" value="-1"/>
    创建日期：<input type="text" name="createTime"/>
    <input type="submit" value="搜索" style="background-color: #173e65;color: #ffffff; width: 70px;"/><br/>
</form>

<table border="1">
    <thead>
    <tr>
        <th>问题</th>
        <th>答案A</th>
        <th>答案B</th>
        <th>答案C</th>
        <th>答案D</th>
        <th>正确答案</th>
        <th>答案解析</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r:${loginUser}">
        <td th:text="${r.name}"></td>
        <td th:text="${r.telephone}"></td>
        <td th:text="${r.address}"></td>
        <td th:text="${r.status}"></td>
        <td th:text="${r.createTime}"></td>
        <td th:text=""></td>
        <td th:text=""></td>
        <td><a th:href="@{/editRetailer(id=${r.retailerId})}">编辑</a>|<a
                th:href="@{/deleteRetailer(id=${r.retailerId})}">删除</a></td>
    </tr>
    </tbody>
</table>

<div style="margin-top:10px">
    <a th:href="@{/listCommodities(start=0)}">[首 页]</a>
    <a th:href="@{/listCommodities(start=${page.pageNum-1})}">[上一页]</a>
    <a th:href="@{/listCommodities(start=${page.pageNum+1})}">[下一页]</a>
    <a th:href="@{/listCommodities(start=${page.pages})}">[末 页]</a>
</div>
</body>

</html>