<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提交答案之后的界面</title>
</head>
<body>
    <div><span th:text="${map0.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map0.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map1.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map1.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map2.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map2.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map3.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map3.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map4.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map4.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map5.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map5.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map6.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map6.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map7.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map7.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map8.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map8.get('questionID')}}">查看答案解析及讨论</a></div><br/>
    <div><span th:text="${map9.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map9.get('questionID')}}">查看答案解析及讨论</a></div><br/>
</body>
