<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn is a modern and fully responsive Template by WebThemez.">
    <meta name="author" content="">
    <title>Learn</title>
    <link rel="favicon" href="../images/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/da-slider.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/myCss/common.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="../js/modernizr-latest.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.cslider.js"></script>
    <script src="../js/custom.js"></script>
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="../index.html">
                <img src="../images/logo.png" alt="Techro HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li class="active"><a href="../courses.html">Courses</a></li>
                <li><a href="../expertAdvice.html">Expert Advice</a></li>
                <li><a href="../portfolio.html">Portfolio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../sidebar-right.html">示例页（测试用）</a></li>
                        <li><a href="/user/setPhoto">修改头像</a></li>
                        <li><a href="/user/expertCertification">专家认证</a></li>
                        <!--<li><a href="#">Dummy Link3</a></li>-->
                    </ul>
                </li>
                <li><a href="../contact.html">Contact</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Educational Website</h2>
                    <p>Amazing free responsive website for free, enjoy!!!</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Online Education</h2>
                    <p>Bootstrap is a powerful mobile first front-end framework..</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>Super Success</h2>
                    <p>HTML5 is a markup language used for structuring and presenting Web.</p>
                    <div class="da-img"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->

<section class="container">
    <div class="heading">
        <!-- Heading -->
        <h2>About the system</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../images/spotlight.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-8">
            <p>此页面收录了本系统所有的题目，每个题目的讨论，以及答案解析。</p>
            <blockquote class="blockquote-1">
                <p>锲而舍之，朽木不折；锲而不舍，金石可镂</p>
                <small>荀子<cite title="Source Title">《荀子·劝学篇》</cite></small>
            </blockquote>
        </div>
    </div>
</section>
<!--<div class="comment">-->
    <!--&lt;!&ndash;<div class="comment-head-photo" th:style="'background:url(+'${question.id}+')'"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="comment-head-photo" th:style="'background:url(' + @{${comment.user.phtoto_Id}}+')'; background-size: cover;"></div>&ndash;&gt;-->
    <!--<div class="comment-head-photo" th:style="'background:url(' + ${comment.user.getPhotoId()}+'); background-size: cover;'"></div>-->
    <!--<div class="comment-userName" th:text="${comment.getUserId()}" ></div>-->
    <!--<div class="answer-brief nc-post-content" th:text="${comment.content}" ></div>-->
    <!--<div class="comment-replyTime" th:text="${comment.getReplyTime()}" ></div>-->
<!--</div>-->
<!--<div class="comment-line"></div>-->
<!--<div><a th:href="@{'../comment/addComment?questionId='+${question.id}}" style="color: #843534">点击参与讨论</a> </div>-->

<section class="container"   id="table" >
    <h2><span>题目正确情况</span></h2>
    <br>
    <div class="list">
        <div class="correct-order" th:each="map:${answerList}"  th:style="'background-color:' + @{(${map.get('judgeAnswer')} ? 'green' : 'red')}">
            <a th:href="@{'../comment/addComment?questionId='+${map.get('questionID')}}" th:text="${map.get('currentNumber')}"></a>
        </div>
    </div>
</section>
    <!--<div><span th:text="${map0.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map0.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map1.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map1.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map2.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map2.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map3.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map3.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map4.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map4.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map5.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map5.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map6.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map6.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map7.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map7.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map8.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map8.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map9.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map9.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->





<section class="news-box">
    <div class="container">
        <h2><span>Latest News</span></h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="../images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2"><div class="box_inner">
                            Lorem ipsum dolor sit amet conse ctetu eiusmod.
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="../images/news2.jpg" alt=""></figure>
                        <div class="caption maxheight2"><div class="box_inner">
                            Lorem ipsumulum aenean noummy endrerit mauris.
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="../images/news3.jpg" alt=""></figure>
                        <div class="caption maxheight2"><div class="box_inner">
                            Pariatur excepteur sint occaummy endrerit mauris.
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="../images/news4.jpg" alt=""></figure>
                        <div class="caption maxheight2"><div class="box_inner">
                            Magnis dis parturient montes ascetur ridiculus mus.
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="social text-center">
            <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
            <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
            <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
            <!--<a href="#"><i class="fa fa-flickr"></i></a>-->
            <a href="https://github.com/1059752368/law"><i class="fa fa-github"></i></a>
        </div>

        <div class="clear"></div>
        <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="../index.html">Home</a> |
                            <a href="../about.html">About</a> |
                            <a href="../courses.html">Courses</a> |
                            <a href="../expertAdvice.html">Expert Advice</a> |
                            <a href="../portfolio.html">Portfolio</a> |
                            <a href="../contact.html">Contact</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; 2019.Gonghongtao All rights reserved
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>

<!--<script>-->
<!--$(document).ready(function () {-->
<!--listAllQuestionAndComment();-->
<!--});-->

<!--function listAllQuestionAndComment() {-->
<!--$.ajax({-->
<!--type: 'GET',-->
<!--contentType: 'application/x-www-form-urlencoded;charset=UTF-8', // 发送信息至服务器时内容编码类型-->
<!--url: '../question/listAllQuestionAndComment',-->
<!--async: false, // 需要同步请求数据-->
<!--data: {-->

<!--},-->
<!--dataType: 'json',-->
<!--success: function (data) {-->
<!--console.log(data.data);-->
<!--if (!data.status) {-->
<!--// window.location.href = "../index.html";-->
<!--} else {-->
<!--for(var question of data.data.questionList){-->
<!--$("#table").append(-->
<!--'        <div  class="panel panel-info" xmlns="http://www.w3.org/1999/html">'+-->
<!--'           <div class="panel-heading">'+ question.content +'</div>'+-->
<!--'           <div class="panel-body">'+-->
<!--'              <input  type="checkbox"  checked = true  style="display: none " name="'+question.id+'"  value="'+ question.id +'"/>'+-->
<!--'               <div class="result-answer-item">A.'+ question.answers.answer1 +'</div><br/>'+-->
<!--'               <div class="result-answer-item">B.'+ question.answers.answer2 +'</div><br/>'+-->
<!--'               <div class="result-answer-item">C.'+ question.answers.answer3 +'</div><br/>'+-->
<!--'               <div class="result-answer-item">D.'+ question.answers.answer4 +'</div><br/>'+-->
<!--'               <div class="analysis">'+ question.analysis +'</div>'+-->
<!--'               <div class="module-body clearfix"><div class=" answer-list-item clearfix js-copy-mark" id="'+question.id+'"></div></div>' +-->
<!--// '               <div><a href="addComment.html" style="color: #843534">点击参与讨论</a> </div>' +-->
<!--'           </div>'+-->
<!--'        </div><br/>'-->
<!--)-->
<!--var questionId = $("input[name='"+question.id+"']").attr("value");-->
<!--;-->
<!--if(question.commentList.length){-->
<!--for(var comment of question.commentList){-->
<!--$("#"+question.id).append(-->
<!--'<div class="answer-brief nc-post-content">'+comment.content+'</div>'-->
<!--);-->
<!--}-->
<!--$("#"+question.id).append(-->
<!--'<div><a href="comment/addComment?questionId='+questionId+'" style="color: #843534">点击参与讨论</a> </div>'-->
<!--);-->
<!--}else{-->
<!--$("#"+question.id).append(-->
<!--'<div>此问题暂无评论,<a href="comment/addComment?questionId='+questionId+'" style="color: #843534">点击参与讨论</a> </div>'-->
<!--);-->
<!--}-->

<!--}-->
<!--}-->
<!--},-->
<!--error: function (data) {-->
<!--console.log("something is wrong");-->
<!--}-->
<!--});-->
<!--}-->

<!--</script>-->
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>问题答案解析讨论</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:text="${question.content}"></div><br>-->
<!--<div th:text="${question.answers.getAnswer1()}"></div><br>-->
<!--<div th:text="${question.answers.getAnswer2()}"></div><br>-->
<!--<div th:text="${question.answers.getAnswer3()}"></div><br>-->
<!--<div th:text="${question.answers.getAnswer4()}"></div><br>-->
<!--<table border="1">-->
<!--<tr th:each="r:${commentList}">-->
<!--<td >-->
<!--<div>-->
<!--<div th:text="${r.content}"></div>-->
<!--&lt;!&ndash;<div th:text="${r.getReplyTime()}"></div>&ndash;&gt;-->
<!--<br>-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--<form action="/comment/commentQuestion" method="POST">-->
<!--<table border="1">-->
<!--<input  type="checkbox"  th:name="questionId" checked = true  th:value="${question.id}"/>-->
<!--<textarea th:name="comment" th:height="50px" th:width="60px" th:value="在此输入评论"></textarea>-->
<!--</table>-->
<!--<button type="submit">提交评论</button>-->
<!--</form>-->

<!--</body>-->

</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>提交答案之后的界面</title>-->
<!--</head>-->
<!--<body>-->
    <!--<div><span th:text="${map0.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map0.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map1.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map1.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map2.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map2.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map3.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map3.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map4.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map4.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map5.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map5.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map6.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map6.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map7.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map7.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map8.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map8.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
    <!--<div><span th:text="${map9.get('judgeAnswer')}"></span><a th:href="@{'getCommentAndAnalysis?id='+${map9.get('questionID')}}">查看答案解析及讨论</a></div><br/>-->
<!--</body>-->
