<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题更新</title>
</head>
<body>
<form action="/question/updateQuestion" method="POST">
<table border="1">
    <thead>
    <tr>
        <th>问题ID</th>
        <th>问题</th>
        <th>答案ID</th>
        <th>答案A</th>
        <th>答案B</th>
        <th>答案C</th>
        <th>答案D</th>
        <th>正确答案</th>
        <th>答案解析</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input th:name="question_id" th:value="${question.getId()}"  style="border: none"></td>
        <td><input th:name="content" th:value="${question.getContent()}" style="border: none"></td>
        <td><input th:name="answersId" th:value="${question.getAnswersId()}" style="border: none"></td>
        <td><input th:name="answer1" th:value="${question.getAnswers().getAnswer1()}" style="border: none"></td>
        <td><input th:name="answer2" th:value="${question.getAnswers().getAnswer2()}" style="border: none"></td>
        <td><input th:name="answer3" th:value="${question.getAnswers().getAnswer3()}" style="border: none"></td>
        <td><input th:name="answer4" th:value="${question.getAnswers().getAnswer4()}" style="border: none"></td>
        <td><input th:name="rightAnswer" th:value="${question.getAnswers().getRightAnswer()}" style="border: none"></td>
        <td><input th:name="analysis" th:value="${question.getAnalysis()}" style="border: none"></td>
    </tr>
    </tbody>
</table>

    <!--<input type="hidden" name="_method" value="put" th:if="${question!=null}"/>-->
    <button type="submit">确认修改</button>
</form>
</body>
</html>